#header.header
  .container-logo
    #logo.logo-mobile
      a(href='/', title='Home', rel='home', style='border: none;')
        img(src='images/logo.png', alt='gongmogongmo')
  .content-area
    form.form-inline.search-input-group(action='/questions', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)
