#header.header
  .container
    .row
      .span8
        #logo.logo-mobile
          a(href='', title='Home', rel='home', style='border: none;')
            img(src='/images/logo.png', alt='gongmogongmo')
        #name-and-slogan
          #site-title-first-line.site-title-uppercase
            a(href='', title='Home', rel='home') 공모전 대외활동
