nav.navbar.navbar-expand-lg.bg-my-col.navbar-light
  //- a.navbar-brand(href='#') Menu
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse.bg-my-col
    ul.navbar-nav
      li.nav-item.dropdown
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | 공모전
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          a.dropdown-item(href='#') 공모전 정보
          a.dropdown-item(href='#') 공모전 등록
          a.dropdown-item(href='#') 공모전 관리
      li.nav-item
        a.nav-link(href='#') 참고 자료
      if (!currentUser)
        li.nav-item
          a.nav-link(href='/users/new') JOIN
        li.nav-item.active
          a.nav-link(href='/signin') SIGNIN
          span.sr-only (current)
      else
        li.nav-item
          a.nav-link(href=`/users/${currentUser._id}`) MY PAGE
        li.nav-item
          a.nav-link(href='/signout') SIGNOUT