extends layout

block content
  .content-area
    #first.row
      .col-lg-4
        #carousel-example-2.carousel.slide.carousel-fade(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#carousel-example-2', data-slide-to='0')
            li(data-target='#carousel-example-2', data-slide-to='1')
            li(data-target='#carousel-example-2', data-slide-to='2')
          .carousel-inner(role='listbox')
            .carousel-item.active
              .view
                img.d-block.w-100(src='/images/img3.jpg', alt='First slide')
            .carousel-item
              .view
                img.d-block.w-100(src='/images/img2.jpg', alt='Second slide')
            .carousel-item
              .view
                img.d-block.w-100(src='/images/img1.jpg', alt='Third slide')
          a.carousel-control-prev(href='#carousel-example-2', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#carousel-example-2', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
      #poster-img.col-lg-4
       img.index-poster(src='/images/img3.jpg')
      .col-lg-4
        h3 Pathways For:
        table.table.table-hover
          tbody
            tr
              th(scope='row') Contest Infos
            tr
              th(scope='row') Contest Tips
            tr
              th(scope='row') Faculty
            tr
              th(scope='row') Site Admin
            tr
              th(scope='row') Industry Partners
            tr
              th(scope='row') Facilities
