doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    #container.col
    // id container class col
      p.
        Pug is a terse and simple templating language
