.container.
    organized: #[h6= question.organization]
    organized: #[h6= question.parts]
    organized: #[h6= question.applicant]
    organized: #[h6= question.deadline]
    organized: #[h6= question.manager]
    organized: #[h6= question.contact]
    organized: #[h6= question.content]
.tags.badges
  each tag in question.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-likes= question.numLikes] likes,
      #[span.number.num-answers= question.numAnswers] comments,
      #[span.number.num-reads= question.numReads] reads
  .col-sm
    .author
      | asked on #{moment(question.createdAt).format('YYYY-MM-DD')}
      if question.author
        | 
        | by #[a(href=`/users/${question.author.id}`)= question.author.name] 

