extends ../layout

include ../includes/_paginate

block content

    h1.main-title 
      | 공모전 정보
      if questions.total > 0
        .small Total #{questions.total} question(s)

    if questions.total <= 0 
      .alert.alert-info 등록된 공모전이 없습니다
    else
      .questions
        each question in questions.docs
          .question
            a.title(href=`/questions/${question.id}`)= question.title
            include _question

      +paginate(questions, '/questions', query)

    hr
    a.btn.btn-primary(href='/questions/new') 공모전 등록하기
